@import '../styles/shared.scss';

.event-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-unit 0 $spacing-unit+15 0;
  border-bottom: 1px solid #dbdbdb;

  &:last {
    border: none;
  }

  p {
    margin-right: $spacing-unit;
  }

  ul {
    padding: 5px 0 0 0;
    margin: 0;
  }

  button {
    background: none !important;
  }
}