@import 'shared.scss';

html {
  font-family: $alt-font-family;
  color: $body-color;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

a {
  font-family: $alt-font-family;
  color: $navigation-color;
  text-decoration: none;
  font-size: $field-font-size;
}

h1 {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: $h1-font-size;
  color: $title-color;
}

.big-emphasis {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 12vw;
  color: $title-color;
  margin: 0;

  @include media-query($content-width) {
    font-size: 12em;
  }
}

.kicker {
  font-family: $alt-font-family;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-size: 2vw;
  color: $title-color;
  margin: 0;

  @include media-query($content-width) {
    font-size: 2em;
  }
}

.secondary-link {
  background: none !important;
  color: $demphasized-color;
  font-size: $body-font-size;
  border: none;
  padding: 0 !important;
  cursor: pointer;

  &:focus {
    border: none;
    outline: none;
  }
}

.body-text {
  font-family: $alt-font-family;
  font-size: $body-font-size;
  color: $body-color;
  margin: 0.5em 0;
}

.field-text {
  font-family: $alt-font-family;
  font-size: $field-font-size;
  color: $demphasized-color;
  margin: 0.5em 0;
}

.accent-color {
  color: $accent-color;
}
