@charset "utf-8";

// Define defaults for each variable.

$main-font-family:  'Poppins', Arial, sans-serif !default;
$alt-font-family:   'Open Sans', Helvetica, sans-serif !default;

$hero-bg-color:   #f1fdff !default;
$accent-color:    #00c4ff !default;
$navigation-color:  #303030 !default;
$title-color:       #374146 !default;
$body-color:        #525e63 !default;
$demphasized-color: #9b9b9b !default;

$gear-gradient:     linear-gradient(to bottom, $hero-bg-color 0%,#99eaff 100%) !default;
$button-gradient:   linear-gradient(to bottom, $hero-bg-color 0%,#99eaff 100%) !default;

$spacing-unit:      15px !default;

$h1-font-szie:      36px;
$h2-font-size:      24px;
$body-font-size:    18px;
$field-text:        16px;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Small devices (landscape phones, 576px and up)
$bp-s:             576px !default;

// Medium devices (tablets, 768px and up)
$bp-m:             768px !default;

// Large devices (desktops, 992px and up)
$bp-l:              992px !default;

// Extra large devices (large desktops, 1200px and up)
$bp-xl:            1200px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials.
@import
  "scss/typography"
  // "main/base",
  // "main/layout",
  // "main/syntax-highlighting",
  // "common/fonts",
  // "common/logo",
  // "common/header",
  // "main/card",
  // "main/styles"
;
