html {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #525e63;
}

a {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #303030;
  text-decoration: none;
  font-size: 16px;
}

h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #374146;
}

.big-emphasis {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: bold;
  font-size: 12vw;
  color: #374146;
  margin: 0;
}

.kicker {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 24px;
  color: #374146;
  margin: 0;
}

.secondary-link {
  background: none !important;
  color: #9b9b9b;
  font-size: 18px;
  border: none;
  padding: 0 !important;
  cursor: pointer;
}
.secondary-link:focus {
  border: none;
  outline: none;
}

html {
  background-color: #f1fdff;
}

main {
  padding: 2em 2em;
}

.hover-effect:hover {
  opacity: 0.75;
}

.accent-seperator {
  height: 0.5em;
  width: 2.5em;
  background-color: #00c4ff;
  border: none;
  margin-left: 0;
}

.inline-block {
  display: inline-block;
}

.gutter-bottom--double {
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 15px;
}
